.book-container{
    width: 100%;
    /* background-color:red; */
    display: grid;
    grid-template-columns: repeat(4, 252px);
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  
  .book{
    border:1px solid #d3d3d3;
    height:426px;
    background-color:#f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position:relative;
  }
  
  .genre{
    position:absolute;
    left:1px;
    top:1px;
    padding:1%;
    background-color: white;  
  }
  
  .image{
    width:250px;
    height:250px;
    align-self: center;
    background-color: green;
  }
  
  .title{
    margin-top:5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .book span{
    /* width:100%; */
    box-sizing: border-box;
    text-align: left;
    padding: 5px 10px;
  }

  .stockOut{
    color: red;
  }
  
  .priceAndCart{
    display: flex;
    justify-content: space-between;
    width:100%;
    box-sizing: border-box;
    padding-right:10px;
  }
  
  .price{
    font-weight: bold;
    color:green;
  }
  
  .priceAndCart .addToCart{
    cursor: pointer;
    font-size: 24px;
    color: #bd00ff;
  }

  .disabled{
    color: #aaaaaa;
    font-size: 24px;
  }