    .search-container{
    /* flex:1; */
    position: relative;
    grid-column: 3/5;
    border:1px solid gray;
    height:45px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 12px 12px 0px;
    align-items: center;
    box-sizing: border-box;
    /* overflow: hidden; */
    background-color: #bd00ff;
    }

    .search-container:hover{
    border: 1px solid #bd00ff;
    }

    .search-container input{
    flex:1;
    border:none;
    border-right: 1px solid gray;
    border-radius: 0px 12px 12px 0px;
    outline: none;
    /* background-color: red; */
    height:100%;
    font-size: 18px;
    box-sizing: border-box;
    user-select: text;
    /* margin:0 10px; */
    }

    .search-container input:hover{
    border-right: 1px solid #bd00ff;
    }

    .filter, .search{
    height:100%;
    padding:0px 5px;
    display: flex;
    align-items: center;
    font-size: 32px;
    color:white;
    }

    .filter{
    background-color: white;
    color:#555555;
    }

.searchBtn, .filterBtn{
    cursor: pointer;
}

.open{
    color: blue;
}

.filterBox{
    position: absolute;
    left:0;
    top:-90px;
    z-index:2;
    width:100%;
    height:70px;
    background-color: white;
    border:3px solid #bd00ff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.filterBox input{
    border:none;
    border-bottom:1.5px solid #bd00ff;
    border-radius: 0px;
}

.genreTagNote{
    grid-column: 1/-1;
    font-size: 15px;
    color: #555555;
}


.downArrow{
    z-index:1;
    position: absolute;
    left:8px;
    top:-32px;
    font-size: 32px;
    color: #bd00ff;
}