.Header{
    /* width:100%; */
    height:200px;
    box-sizing: border-box;
    padding:0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    /* background-color: red; */
  }
  
  .header-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 252px);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    
  }
  
  .logo{
    grid-column: 1/3;
    /* background-color: red; */
    display: flex;
    justify-content: start;
  }

  .logo img{
      width: 30%;
  }