@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.App {
  text-align: center;
  min-height:100vh;
  width:100%; 
  display: grid;
  grid-template-columns: 1fr 350px;
  font-family: 'Ubuntu', sans-serif;
}

.body{
  /* width: 100%; */
  min-height: calc(100vh - 250px);
  /* background-color: orange; */
  box-sizing: border-box;
  padding:4% 0;  
}


.RightSection{
  /* flex:1; */
  background-color: rgba(189, 0, 255, 0.03);
  display: flex;
  flex-direction: column;
}

.UserData{
  height:200px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  background: url("./res/images/userdata.svg") no-repeat;
  background-size: contain;
}

